OL { counter-reset: item }

LI {
  display: block;
  font-size: 1em;
}

LI:before { 
  content: counters(item, ".") ") ";
  counter-increment: item;
  font-weight: bold;
}

h1{
  text-align: center;
  font-size: 2em;
}

.doc{
  margin: 1%;
}

div > ol > li:before{
  content: "Article "counters(item, ".") ") ";
  counter-increment: item;
  font-weight: bold;
}

div > ol > li {
  font-size: 1.33em;
  font-weight: 450;
}

div > ol > li > ol > li {
  font-size: 0.9em;
  font-weight: normal;
}

div > ol > li > ol > li > ol > li {
  font-size: 0.9em;
}

div > ol > li > ol > li:before{
  content: "Section "counters(item, ".") ") ";
  counter-increment: item;
  font-weight: bold;
}