.md-doc OL { counter-reset: item }

.md-doc LI {
  display: block;
  font-size: 1em;
}

.md-doc LI:before { 
  content: counters(item, ".") ") ";
  counter-increment: item;
  font-weight: bold;
}

.md-doc img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.md-doc h1{
  text-align: center;
  align-content: center;
  display: block;
  font-size: 2em;
}

.md-doc{
  padding: 10px;
  background-color: #ffffff;
  font-family: 'Times New Roman', Times, serif
}

.md-doc > ol > li:before{
  content: "Article "counters(item, ".") ") ";
  counter-increment: item;
  font-weight: bold;
}

.md-doc > ol > li {
  font-size: 1.33em;
  font-weight: 450;
}

.md-doc > ol > li > ol > li {
  font-size: 0.9em;
  font-weight: normal;
}

.md-doc > ol > li > ol > li > ol > li {
  font-size: 0.9em;
}

.md-doc > ol > li > ol > li:before{
  content: "Section "counters(item, ".") ") ";
  counter-increment: item;
  font-weight: bold;
}

.md-doc ins {
  text-decoration: none;
  background-color: #d4fcbc;
}

.md-doc del {
  text-decoration: line-through;
  background-color: #fbb6c2;
  color: #555;
}